@import '../../styles/abstracts/variables.scss';

.card{
    width: 33rem;
    height: 40rem;
    border-radius: 1.5rem;
    background-color: $Dark-Blue;
    color: $White;
    padding: 10px;

    @media (min-width: 1440px) {
        width: 38rem;
        padding: 15px;

    }



}

